body {
	opacity:1;
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
	background-size: cover;
}

#title {
	opacity: 0;
	width:90%;
}
.center {
	
    display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: 4%;
}

#content {
    display: block;
    width: 100%;
	height: 90%;
}
#info {
	 line-height: 2;
	font-weight: 700;
	font-size:70%;
    width: 350px;
	height: 50px;
}
#menuDiv {
    display: block;
    width: 100%;
	height: 100%;
}
#desc {
	margin-top: 15%;
font-family:helvetica;
color:rgba(190,171,132,1);
  text-align: center;
	
}

#menu {
    width: 100%;
	height: 100%;
}

#links {
    margin-left: auto;
    margin-right: auto;
    display: table;
    width: 100%;
	height: 100%;
}

li {
margin: 0 0 0 -5px;
position:relative;
text-transform:uppercase;
font:100% "Droid Sans",sans-serif;
outline:2px solid rgba(190,171,132,1);
color:rgba(190,171,132,1);
display: table-cell;
width: auto;
height: 100%;
transition: color 0.5s, background 0.5s, opacity 0.5s;
}

li:hover {
background:rgba(190,171,132,1)!important;
transition: background 0.5s, opacity 0.5s;
}

li:hover a, li.hover a {
color: rgba(0,0,0,1);
transition: color 0.5s, background 0.5s, opacity 0.5s;
}

a {
	padding-top: 18px;
	padding-bottom: 19px;
font-weight: 600;
color:rgba(190,171,132,1);
text-decoration: none;
text-align: center;
display: block;
}

#gallery {
	margin-top: 90px;
	padding-left:2%;
	width:96%;
	height:auto;
	margin-left:2%;
}
.col {
	display:inline-block;
	margin-left:0.5%;
	margin-right:0.5%;
	width:15%;
	height:auto;
	float: left;
	position: relative;
	
	transition: 0.5s ease-in-out;
}

.colImg {
	z-index: -1;
	opacity: 1;
	width: 100%;
	height: auto;
	float: left;
	transition: opacity 0.5s ease;
	display: block;
	backface-visibility: hidden;
}

.article .button {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top:15%;
  left:15%;
  float: left;
  border: 1px solid black;
  display: block;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.article {
	opacity: 0;
	position:relative;
	overflow: hidden;
	background:transparent;
	transition: 1s;
	margin-bottom:10px;

}

.article:hover {
  
 transition: .5s;
  background:rgba(190,171,132,1);
}

.article:hover .colImg {
  opacity: 0.3;
}

.article:hover .button {
  opacity: 1;
}